body{
    font-size: 16px;
    color: white;
    text-shadow: 0.1em 0.1em black;
    font-family:Courier;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    overflow-x:hidden;
}
.flexContainer{
    display: flex;
}
.navElement{
    width:33.333333333333333333333333333333333%;
}
.navElement a{
    text-decoration: none;
    color: white;
}
.navElement a:hover{
    color:black;
    text-shadow: 0.1em 0.1em white;
}
#tl{
    padding-left: 1%;
}
#tm{
    text-align: center;
}
#tr{
    text-align: right;
    padding-right: 1%;
}
@keyframes rise{
    from{
        opacity: 0%;
        margin-top:100vh;
    } to {
        margin-top:75px;
        opacity: 100%;
    }
}