body{
    font-size: 16px;
    color: white;
    text-shadow: 0.1em 0.1em black;
    font-family:'Courier New';
    background-image: linear-gradient(to right, #434343, #000000)
}
::-webkit-scrollbar {
    display: none;
}
.flex-container{
    display: flex;
}
.nav-element{
    width:33.333333333333333333333333333333333%;
}
.nav-element a{
    text-decoration: none;
    color: white;
}
.nav-element a:hover{
    color:orange;
}
#tl{
    padding-left: 1%;
}
#tm{
    text-align: center;
}
#tr{
    text-align: right;
    padding-right: 1%;
}
.mainElement{
    width: 53vw;
    background-color:rgba(100,100,100,0.1);
    margin-top: 10vw;
    margin-bottom: 10vw;
    animation: rise 2s ease-in-out 1;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 1em;
    border-radius: 2vw;
    box-shadow: 2vw 2vw black;
}
.mainElement:hover{
    background-color:rgba(150,150,150,0.1);
}
.mainElement h1{
    font-size:1.5em;
}
.mainElement img{
    width: 16vw;
    height: 16vw;
}
@keyframes rise{
    from{
        opacity: 0%;
        margin-top:100vw;
    } to {
        margin-top:1vw
        opacity: 100%;
    }
}
@media (max-width: 1280px){
    .mainElement{
        width:80vw;
    }
}
@media (max-width: 720px){
    .mainElement h1{
        font-size: 0.7em;
    }
}
.buffer{
    height:2vw;
}